<html>
<head>
  <title>OS2Display</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ asset('bundles/os2displayscreen/assets/css/styles.css') }}">
</head>
<body>
  <div class="fallback-image" style="background-image: url('/bundles/os2displayscreen/assets/images/fallback_default.png'); opacity: .3;"></div>
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <h2 style="position: fixed">Permission Denied</h2>
  </div>
</body>
</html>
